.webcam#webcam
  .webcam-field(touch-action="none")
    .webcam-image
    
  .webcam-controls
    .webcam-info.webcam-info_type-zoom
      .webcam-info__type Приближение:
      .webcam-info__value  100%

    .webcam-info.webcam-info_type-bright
      .webcam-info__type Яркость: 
      .webcam-info__value 50%