.webcam#webcam
  .webcam-field
    .webcam-image(touch-action="none")
    
  .webcam-controls
    .webcam-info.webcam-info_type-zoom
      .webcam-info__type Приближение:
      .webcam-info__value  78%

    .webcam-info.webcam-info_type-bright
      .webcam-info__type Яркость: 
      .webcam-info__value 50%